body{
	margin:0;
	padding:0;
	background-color: #eee;
}

#login{
	margin:0;
	padding:20px;
}

#form{
	background-color: #ddd;
	padding: 30px;
	max-width: 500px;
}

input{
	font-family: "Exo 2", arial, sans-serif;
	font-size: 2em;

	background-color: #444;
	color: #ccc;

	border: 10px;
	max-width: 500px;
	width: 100%;
	height: auto;1
	
	display: block;
}

button{
	font-family: "Exo 2", arial, sans-serif;
	font-size: 2em;

	background-color: #ccc;
	color: #444;

	border: 10px;
	max-width: 500px;
	width: 100%;
	height: auto;

	display: block;
}